.projects-container {
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
  /* background: #0d0d0d; */
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.project-card {
  background:rgba(255,255,255,0.03); 
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease, background 0.3s ease;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  border: 1px solid #272727;
}

.project-card:hover {
  transform: translateY(-6px);
  background: #222;
  border-color: #444;
}

.project-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.project-card p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 12px;
  line-height: 1.4;
}

.lang {
  font-size: 13px;
  margin-bottom: 20px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer a {
  text-decoration: none;
  color: #00aaff;
  font-weight: 500;
  transition: color 0.2s;
}

.card-footer a:hover {
  color: #66d6ff;
}

.updated {
  font-size: 12px;
  color: #888;
}

/* Loading text */
.loading {
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
}